*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h{
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Roboto', sans-serif;

}
header{
	width: 100%;
	height: 100vh;
	position: relative;

}
nav{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
}
.logo{
	font-size: 50px;
	letter-spacing: 5px;
	color: #222f3e;
}
.menu a{
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	color: white;
}
.menu a:last-child{
	background: #de3031;
	border-radius: 8px;
	letter-spacing: 2px;
	color: white;
}
.h-text{
	max-width: 500px;
	position: absolute;
	top: 30%;
	left: 10%;
	z-index: -1;
}
.h-text h1{
	font-size: 4em;
	color: #222f3e;
	font-family: 'Crimson Text', serif;
}
.h-text p{
	font-size: 20px;
	margin-bottom: 30px;
}
.h-text a{
	text-decoration: none;
	background: #01a3a4;
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	font-family: 'Bitter', serif;
	border-radius: 8px;
}
#more{
	background: transparent;
	color: #01a3a4;
	box-shadow: 2px 0px 0px grey;
}.icon{
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
}
.icon i{
	color: white;
	padding: 10px;
	font-size: 20px;
	margin: 5px 0px;
	background: #01a3a4;
}
.icon i:hover{
	background: transparent;
	transition: 0.4s;
	border: 1px solid black;
	color: black;
}
.box{
	width: 60%;
	height: 70%;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 234, 167, 0.7);
	z-index: -2;
}
#sara{
	width: 450px;
	height: 100%;
	position: absolute;
	right: 10%;
	top: 0;
	z-index: -1;
}
#about{
	padding: 50px 100px;
	width: 100%;
	height: 100vh;

}
.about-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-left-col{
	flex-basis: 40%;
	text-align: center;
	background: rgba(255, 159, 243, 0.2);
}
.about-left-col img{
	width: 70%;
	height: 100%;
	padding: 20px;
}
.about-right-col{
	flex-basis: 50%;

}
.about-right-col h1{
	font-size: 3em;
	color: #222f3e;
	line-height: 1.4em;
	font-family: 'Noto Sans', sans-serif;
}
.about-right-col p{
	font-size: 20px;
	color: grey;
	margin: 30px 0px 40px 0;
}
.about-right-col a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px 20px;
	color: white;
	border-radius: 8px;
	background: #01a3a4;
}
.about-right-col i{
	margin: auto 5px;
}
#work{
	padding: 0px 100px;
	width: 100%;
}
.work-row{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.work-left-col{
	flex-basis: 50%;

}
.work-right-col{
	flex-basis: 30%;
}
.work-left-col h1{
	font-size: 3em;
	color: #222f3e;
	line-height: 1.4em;
	font-family: 'Roboto', sans-serif;
}
.work-left-col p{
	font-size: 20px;
	color: grey;
	margin: 30px 0px 40px 0;

}
.work-left-col a {
	text-decoration: none;
	font-size: 20px;
	padding: 10px 20px;
	color: white;
	border-radius: 8px;
	background: #01a3a4;
}
.work-left-col i{
	margin: auto 5px;
}
.resources{
	padding: 50px 100px;
	width: 100%;

}
.r-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.r-left-col{
	flex-basis: 50%;

}
.r-right-col{
	flex-basis: 50%;
	text-align: right;
	
}
.r-left-col >div{
	
	padding: 30px;
	margin: 20px 0px;
	cursor: pointer;
	border-radius: 8px;
	
}
.r-left-col h1{
	font-size: 2em;
	color: #535c68;
	
}
.r-left-col p{
	font-size: 20px;
	color: grey;
	margin: 25px 0px;
	
}
.r-left-col a{
	text-decoration: none;
	font-size: 20px;
	padding: 10px 20px;
	color: white;
	border-radius: 8px;
	background: #01a3a4;

}
.r-left-col i{
	padding: 5px;
	color: white;
	font-size: 20px;
	border-radius: 50%;
	margin: 0px 3px;
	background: #ff7979;
}
.r-right-col img{
	width: 80%;
	height: 100%;
}
.r-right-col h1{
	font-size: 3em;
	font-family: 'Roboto', sans-serif; 
	line-height: 1.4em;
	color: #535c68;

}
footer{
	padding: 20px 100px;
	background: #01a3a4;
	color: white;
	font-size: 20px;
	font-family: 'Crimson Text', serif;
	display: flex;
	justify-content: space-between;
	align-items: center;


}